<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"0>

  <title>Bestgirl</title>

</head>
<body>
  {% for i, c in list_girl %}
  <h1> BEST GIRL IS {{c.name}} </h1>
  <p>
  <img src="{{c.card_url if c.card_url and i else c.card_idolized_url}}" width=100></img>
  </p>
  {% endfor %}

  {% for i, c in list_card %}
  <h1> BEST CARD IS {{c.name}} </h1>
  <p>
  <img src="{{c.card_url if c.card_url and i else c.card_idolized_url}}" width=100></img>
  </p>
  {% endfor %}
</body>
</html>
