{% extends "base.jinja2" %}

{% block title %}BEST GIRL{% endblock %}

{% block content %}

<h1>Ranking</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-schoolidol ranking">
      <div class="panel-heading">
	<strong>BEST Girls</strong>
      </div>
      <div class="panel-body">
	{% for (idx, (idolized, card, count)) in list_girl %}
	<a class="row" href="http://schoolido.lu/cards/?name={{ card.name }}" target="_blank">
	  <div class="col-sm-2">
	    <div class="rank">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-star fa-stack-2x"></i>
		<span class="fa number">{{ idx + 1 }}</span>
	      </span>
	    </div>
	  </div>
	  <div class="col-sm-10">
	    <div class="pull-right">
	      <div class="card border-{{ card.attribute }}" style="background-image: url('{{ card.card_idolized_image if (idolized or not card.card_image) else card.card_image }}')"></div>
	    </div>
	    <div class="name name-card">
	      <strong>{{ card.name }}</strong>
	      <small>{{ count }} votes</small>
	    </div>
	  </div>
	</a>
	{% endfor %}
      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col -->
  <div class="col-md-6">
    <div class="panel panel-schoolidol ranking">
      <div class="panel-heading">
	<strong>BEST Cards</strong>
      </div>
      <div class="panel-body">
	{% for (idx, (idolized, card, count)) in list_card %}
	<a class="row" href="http://schoolido.lu/cards/{{ card.id }}/" target="_blank">
	  <div class="col-sm-2">
	    <div class="rank">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-star fa-stack-2x"></i>
		<span class="fa number">{{ idx + 1 }}</span>
	      </span>
	    </div>
	  </div>
	  <div class="col-sm-10">
	    <div class="pull-right">
	      <div class="card border-{{ card.attribute }}" style="background-image: url('{{ card.card_idolized_image if (idolized or not card.card_image) else card.card_image }}')"></div>
	    </div>
	    <div class="name">
	      <strong>{{ card.name }}</strong><br />
	      #{{ card.id }} {{ "idolized" if idolized }}
	      <small>{{ count }} votes</small>
	    </div>
	  </div>
	</a>
	{% endfor %}
      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col -->

{% endblock %}
