{% extends "base.jinja2" %}

{% block title %}Vote!{% endblock %}

{% block content %}

<h1>Who is the best girl?</h1>

<form action="/__vote" method="post">
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="left" value="" id="left">
	<div class="panel-body">
	  <img src="{{ cards.left.card_image if cards.left.card_image and idolized_left else cards.left.card_idolized_image }}">
	</div>
	<div class="panel-heading">
	  <strong>#{{ cards.left.id }} {{ cards.left.name.split(' ')[-1]  }} is BEST</strong>
	</div>
      </button> <!-- panel -->
    </div> <!-- col -->
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="right" id="right">
	<div class="panel-body">
	  <img src="{{ cards.right.card_image if cards.right.card_image and idolized_right else cards.right.card_idolized_image }}">
	</div>
	<div class="panel-heading">
	  <strong>#{{ cards.right.id }} {{ cards.right.name.split(' ')[-1] }} is BEST</strong>
	</div>
      </button> <!-- panel -->
    </div> <!-- col -->
  </div> <!-- row -->
</form>

{% endblock %}
