{% extends "base.jinja2" %}

{% block title %}Vote!{% endblock %}

{% block content %}

<h1>Who is the best girl?</h1>

<form action="/__vote" method="post">
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="left" value="" id="left">
	<div class="panel-body">
	  <img src="{{ left.card_url if left.card_url and idolized_left else left.card_idolized_url }}">
	</div>
	<div class="panel-heading">
	  <strong>#{{ left.id }} {{ left.name.split(' ')[-1]  }} is BEST</strong>
	</div>
      </button> <!-- panel -->
    </div> <!-- col -->
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="right" id="right">
	<div class="panel-body">
	  <img src="{{ right.card_url if right.card_url and idolized_right else right.card_idolized_url }}">
	</div>
	<div class="panel-heading">
	  <strong>#{{ right.id }} {{ right.name.split(' ')[-1] }} is BEST</strong>
	</div>
      </button> <!-- panel -->
    </div> <!-- col -->
  </div> <!-- row -->
</form>

{% endblock %}
