{% extends "base.jinja2" %}

{% block title %}Vote!{% endblock %}

{% block js %}
    <script src="{{ url_prefix }}static/js/vote.js"></script>
    <script src="{{ url_prefix }}static/bower/countdown/dest/jquery.countdown.min.js"></script>
    <script src="{{ url_prefix }}static/js/countdown.js"></script>
{% endblock %}

{% block content %}

<h1>{{ title }}
  {% if begin %}<br><small>
    {{ begin.strftime('%B %d') }} - {{ end.strftime('%B %d') }}
    {% if delta %}
    <br><a href="{{ url_prefix }}contest">
      <span id="countdown" style="display: block; font-size: 0.6em">
	<script>
	  var countdowndate = "{{ end.strftime("%B %d, %Y %H:%M:%S +0000") }}";
	</script>
      </span>
    </a>
    {% endif %}
  </small>
  {% endif %}
</h1>
<form action="{{ url_prefix }}__vote" method="post">
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="left" value="" id="left">
	<div class="panel-body">
	  <img src="{{ cards.left.card_image if cards.left.card_image and not cards.idolized_left else cards.left.card_idolized_image }}">
  </div>
	<div class="panel-heading">
	  <strong>#{{ cards.left.id }} {{ cards.left.name.split(' ')[-1]  }} is BEST</strong>
	</div>
      </button> <!-- panel -->
      <div class="link left"><a class="text-center" href="{{ cards.left.website_url }}" target="_blank">About this card</a></div>
      <br><br>
    </div> <!-- col -->
    <div class="col-md-6">
      <button type="submit" class="panel panel-schoolidol card" name="right" id="right">
	<div class="panel-body">
	  <img src="{{ cards.right.card_image if cards.right.card_image and not cards.idolized_right else cards.right.card_idolized_image }}">
	</div>
	<div class="panel-heading">
	  <strong>#{{ cards.right.id }} {{ cards.right.name.split(' ')[-1] }} is BEST</strong>
	</div>
      </button> <!-- panel -->
      <div class="link right"><a class="text-center" href="{{ cards.right.website_url }}" target="_blank">About this card</a></div>
      <br><br>
    </div> <!-- col -->
  </div> <!-- row -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
</form>

<br><br>
<div class="text-center">
  <a href="{{ url_prefix }}{% if contest %}result/{{ contest.id }}{% else %}best{% endif %}" class="btn btn-main btn-xl">Ranking</a>
</div>

{% endblock %}
